body{
        font-family: 'Hanken Grotesk', sans-serif;
        background-color: rgb(237,242,248);
        margin: 0;
        width: 100%;
}

.container{
    width: 89%;
    margin: 40px 20px 40px 20px;
    display: grid;
    
}

.grid-article{
    border-radius: 10px;
    margin: 15px 10px;
}

img{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 30px 10px 10px 30px;
    border: 1px white solid;
}

.quote{
    background: url(bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: top right 10%;
}

.grid-child-1{
    background-color: rgb(115,63,200);
}

.grid-child-2{
    background-color: rgb(73,85,107);
}

.grid-child-3{
    background-color: rgb(255,255,255);
}

.grid-child-4{
    background-color: rgb(25,33,46);
}

.grid-child-5{
    background-color: rgb(255,255,255);
}

.img-text-flex{
    display: flex;  
}

h2{
    color: white;
    margin: 0px 35px 20px 35px;
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 1.4;
}

p{
    color: rgba(255, 255, 255, 0.356);
    margin: 10px 35px 30px 35px;
    font-size: 0.8rem;
}

.name{
    margin: 30px 0px 0px 10px;
    font-size: 0.7rem;
}
.status{
    margin: 0px 0px 20px 10px;
    font-size: 0.7rem;
}


@media(min-width:40em){
    .container{
        width: 95%;
        grid-template-columns: repeat(4,1fr);
    }

    .grid-col-span-2{
        grid-column: span 2;
    }

    .grid-article:last-child{
        grid-column: 4;
        grid-row: 1 / span 2;
    }

    

}



